@import 'ngx-toastr/toastr';


body{
  background-color: #d5d5d7;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.ngx-toastr{
  min-height: 50px !important;
}
